body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background-color: #FEF8F5;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
