$main: #EE4D47;

$desktop: 1599px;
$middle-desktop: 1200px;
$tablet: 900px;
$small-tablet: 800px;
$phone: 480px;

// @media (max-width: $desktop) {
// }

// @media (max-width: $middle-desktop) {
// }

// @media (max-width: $tablet) {
// }

// @media (max-width: $small-tablet) {
// }

// @media (max-width: $phone) {
// }